<h2 mat-dialog-title>
  Добавить координаты
</h2>

<mat-dialog-content>

  <form
    [formGroup]="form"
    class="coordinates-form"
  >

    <mat-form-field appearance="outline">

      <mat-label>X</mat-label>

      <input
        matInput
        type="number"
        formControlName="x"
      >

      @if (
        form.get('x')?.touched &&
        form.get('x')?.hasError('required')
      ) {
        <mat-error>
          Укажите X
        </mat-error>
      }

    </mat-form-field>


    <mat-form-field appearance="outline">

      <mat-label>Y</mat-label>

      <input
        matInput
        type="number"
        formControlName="y"
      >

      @if (
        form.get('y')?.touched &&
        form.get('y')?.hasError('required')
      ) {
        <mat-error>
          Укажите Y
        </mat-error>
      }

    </mat-form-field>

  </form>

</mat-dialog-content>


<mat-dialog-actions align="end">

  <button
    mat-button
    type="button"
    (click)="cancel()"
  >
    Отмена
  </button>

  <button
    mat-flat-button
    type="button"
    (click)="save()"
  >
    Добавить
  </button>

</mat-dialog-actions>