<mat-toolbar class="app-toolbar">

  <div class="brand">
    Информационные Системы
  </div>

  <nav class="navigation">

    <a
      mat-button
      routerLink="/persons"
      routerLinkActive="active-link"
    >
      Люди
    </a>

    <a
      mat-button
      routerLink="/coordinates"
      routerLinkActive="active-link"
    >
      Координаты
    </a>

    <a
      mat-button
      routerLink="/locations"
      routerLinkActive="active-link"
    >
      Местоположения
    </a>

    <a
      mat-button
      routerLink="/special"
      routerLinkActive="active-link"
    >
      Специальные операции
    </a>

  </nav>

</mat-toolbar>

<main>
  <router-outlet />
</main>